.events
    each event in events
        .event
            h3= event.name
            h4 #{moment(event.endtime).calendar()} #{moment(event.starttime).format("D MMM HH[h]mm")} - #{moment(event.endtime).format("HH[h]mm")} (Starts #{moment(event.starttime).fromNow()})
        hr
            
